<link href='https://fonts.googleapis.com/css?family=Staatliches' rel='stylesheet'>

<div class="top">
    <!-- Updated Simplified-->
    <header>
        <div class="headerTopSection">

            <a href="https://g.page/yoandmo">
                <i class="fa-brands fa-google"></i>
            </a>
            <a href="https://www.linkedin.com/company/yoandmomedia/">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/yoandmomedia/">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/yoandmomedia">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.crunchbase.com/organization/yoandmomedia">
                <i class="fa-brands fa-cuttlefish"></i>
            </a>
            <a href="https://api.whatsapp.com/send?phone=918800785464&text=Hello!" class="split whatsappButton">
                <i class="fa-brands fa-whatsapp" style="font-size: 16px;"></i>
                <span style="font-size:16px;">WHATSAPP</span>
            </a>
            <a href="mailto:hello@yoandmo.com" class="split" style="color: yellow;">
                <i class="fa-solid fa-envelope"></i>
                <span>hello@yoandmo.com</span>
            </a>
            <a href="tel:+918800785464" class="split" style="color: yellow;">
                <i class="fa-solid fa-phone"></i>
                <span>CALL US: +91-8800785464</span>
            </a>
        </div>

        <hr />

        <div class="headerBottomSection">
            
        </div>

    </header>
    <div class="part1">
        <h1>
            CONNECT.
            <br />
            COLLABORATE.
            <br />
            CONVERT.
        </h1>
    </div>

    <div class="part2">
        <h5 style="font-weight: bolder;">MARKETING FOR THE DIGITAL AGE.</h5>
        <h5>Helping Brands Drive High-Impact Marketing Campaigns Seamlessly And Scale. All In One Place.</h5>
        <h5>LAUNCH YOUR CAMPAIGN TODAY</h5>
        <h5>DROP YOUR MARKETING BRIEF</h5>
    </div>

</div>