div.top {
    height: 100vh;
    width: 175vb;
    background-image: url('../assets/Background-top.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}